#custom-card {
  padding: 1.5em 0.5em 0.5em;
  border-radius: 4em;
  text-align: center;
  background-color: rgba(242, 230, 240, 0.80);
  margin: auto;
  width: 70rem;
}

.card-overlay {
  position: relative;
  bottom: 53rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.parent-container {
  max-height: 1000px;
}

@media screen and (max-height: 1200px) {
  #custom-card {
    max-width: 90%;
    border-radius: 2em;
    background-color: rgba(242, 230, 240, 0.80);
    margin: auto;
  }


  .card-overlay {
    bottom: 50rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-height: 820px) {
  #custom-card {
    max-width: 60%;
    font-size: 0.85rem;
    background-color: rgba(242, 230, 240, 0.80);
    margin: auto;
  }

  .card-overlay {
    bottom: 44rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
}