#custom-card {
    padding: 1.5em 0.5em 0.5em;
    border-radius: 4em;
    text-align: center;
}

.card-overlay {
  position: relative;
  bottom: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
}
  
.carousel {
  padding-top: 20px;
}

.parent-container {
  max-height: 1000px;
}