.split-screen {
    display: flex;
}

.scrollable-column {
    overflow-y: auto;
    max-height: 100vh; /* Adjust the value based on your design */
    outline: 1px solid darkgrey;
}

/* .body {
    background-color: rgb(217,226,235) ;
} */

