.grid-container {
	display: flex;
	flex-wrap: wrap;
	padding-left: 10px;
	background-color: rgb(252, 247, 247);
	align-content: center; 
	justify-content: flex-start;
  }

.active-tab .nav-link.active{
    background-color: rgb(252, 247, 247);
	color: #784727;
}

.nav-tabs .nav-link {
  background-color: #ffffff;
  color: #676d74; 
  border-color: #dee2e6;
}
