.centered-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

#card {
  background-color: #ffffff;
}

.card-form {
  background-color: rgb(252, 247, 247);
}

.card-title {
  height: 50px;
}

#form-title {
  height: 30px;
}

#find-recs-card:hover {
  box-shadow: 0 0px 0px rgba(181, 179, 179, 0.2);
}

#recommend-card:hover {
  box-shadow: 0 0px 0px rgba(181, 179, 179, 0.2);
}

.item {
  padding-top: 40px;
  min-height: 50vh;
}