#yelp-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease, opacity 0.3s ease;
}

#yelp-btn:hover {
  color: rgba(255, 0, 0, 0.5);
  opacity: 0.5;
}

#google-btn {
  background-color: transparent;
  border: none;
  color: blue;
  transition: color 0.3s ease, opacity 0.3s ease;
}

#google-btn:hover {
  color: blue;
  opacity: 0.5;
}

#save-btn {
  color: rgb(249, 119, 141);
  transition: color 0.3s ease, opacity 0.3s ease;
}

#save-btn:hover {
  color: rgb(249, 119, 141);
  opacity: 0.5;
}

#recommend-btn {
  color: rgb(255, 217, 0);
}

#recommend-btn:hover {
  color: rgb(255, 217, 0);
  opacity: 0.5;
}

#delete-btn {
  background-color: transparent;
  border: none;
  color: red;
  transition: color 0.3s ease, opacity 0.3s ease;
}

#delete-btn:hover {
  color: red;
  opacity: 0.5;
}

#move-to-recs-btn {
  background-color: transparent;
  border: none;
  color: black;
  transition: color 0.3s ease, opacity 0.3s ease;
}

#move-to-recs-btn:hover {
  color: black;
  opacity: 0.5;
}

img {
  width: 200px;
  height: 300px;
  object-fit: contain;
}

#restaurant-card-footer {
  background-color: white;
  padding: 0px;
  padding-top: 8px;
  padding-bottom: 0px;
}

.footer-item {
  margin: 0 10px;
  flex: 1;
  text-align: left;
}

.footer-item:nth-child(3),
.footer-item:nth-child(4) {
  text-align: right;
}

.footer-item-btn {
  flex: 1;
  padding: 0 10px;
}

.footer-item-btn-recs {
  padding: 0 20px;
}